<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>ControllerAction</servlet-name>
		<servlet-class>com.burger.controller.ControllerAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControllerAction</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>